<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logConsole" xsi:type="ColoredConsole"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
				useDefaultRowHighlightingRules="true"
				enableAnsiOutput="false"
				DetectOutputRedirected="false">
			<highlight-word regex="\[\w+\]|\|INFO\|" foregroundColor="Green"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
		</target>

		<target name="logFile" xsi:type="File"
				filename="${basedir}/Log/${date:format=yyyy-MM-dd}_${uppercase:${level}}.log"
			  layout="${longdate}|${uppercase:${level}}|${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logConsole" />
		<logger name="*" minlevel="Info" writeTo="logFile" />
	</rules>
</nlog>